doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title 3
table#ko_preheaderBlock_1.vb-outer(style='background-color: #000000;' border='0' width='100%' cellspacing='0' cellpadding='0' bgcolor='#000000')
  tbody
    tr
      td.vb-outer(style='padding-left: 9px; padding-right: 9px; background-color: #000;' align='center' valign='top' bgcolor='#000000')
        .oldwebkit(style='max-width: 570px;')
          p &nbsp;
          table.vb-row.halfpad(style='border-collapse: separate; border-spacing: 0; padding-left: 9px; padding-right: 9px; width: 100%; max-width: 570px; background-color: #000;' border='0' width='570' cellspacing='0' cellpadding='0' bgcolor='#000000')
            tbody
              tr
                td(style='font-size: 0; background-color: #000000;' align='center' valign='top' bgcolor='#000000') &nbsp;
            tbody
              tr
                td(style='font-weight: normal; text-align: left; font-size: 16px; font-family: Verdana, Geneva, sans-serif; color: #ff8c00;' align='left' valign='top' width='100%')
                  a(style='text-decoration: none; color: #ff8c00;' href='%5Bunsubscribe_link%5D' target='_new')
                    | www.meet.direct
                    br
        p &nbsp;
center
  //if (gte mso 9)|(lte ie 8)
  // /preheaderBlock
  table#ko_singleArticleBlock_3.vb-outer(style='background-color: #334a55;' border='0' width='100%' cellspacing='0' cellpadding='0' bgcolor='#334a55')
    tbody
      tr
        td.vb-outer(style='padding-left: 9px; padding-right: 9px; background-color: #334a55;' align='center' valign='top' bgcolor='#334a55')
          //if (gte mso 9)|(lte ie 8)
            table(align='center' border='0' cellspacing='0' cellpadding='0' width='570')
              tr
                td(align='center' valign='top')
          .oldwebkit(style='max-width: 570px;')
            table.vb-container.fullpad(style='border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px; background-color: #334a55;' border='0' width='570' cellspacing='18' cellpadding='0' bgcolor='#334a55')
              tbody
                tr
                  td.links-color(align='left' valign='top' width='100%')
                    img.mobile-full(style='border: 0px; display: block; vertical-align: top; max-width: 534px; width: 100%; height: auto;' src='https://mosaico.io/srv/f-tkwlm7u/img?src=https%3A%2F%2Fmosaico.io%2Ffiles%2Ftkwlm7u%2F1.jpg&method=resize&params=534%2Cnull' alt='' width='534' border='0' hspace='0' vspace='0')
                tr
                  td
                    table(border='0' width='100%' cellspacing='0' cellpadding='0' align='left')
                      tbody
                        tr
                          td(style='font-size: 20px; font-family: Verdana, Geneva, sans-serif; color: #ff8c00; text-align: left;')
                            span(style='color: #ff8c00;')
                              | Welcome 
                              em #{user.firstName} #{user.lastName}
                              | ,
                              br
                        tr
                          td(style='font-size: 1px; line-height: 1px;' height='9') &nbsp;
                        tr
                          td.long-text.links-color(style='text-align: left; font-size: 13px; font-family: Verdana, Geneva, sans-serif; color: #ffffff;' align='left')
                            p(style='margin: 1em 0px; margin-top: 0px;') verify info
                            p(style='margin: 1em 0px;') enjoy content
                            p(style='margin: 1em 0px;') Your verification token: "#{user.verificationToken}"
                            p(style='margin: 1em 0px; margin-bottom: 0px;') thanks member
                        tr
                          td(style='font-size: 1px; line-height: 1px;' height='13') &nbsp;
                        tr
                          td(valign='top')
                            table.mobile-full(border='0' cellspacing='0' cellpadding='0' align='left')
                              tbody
                                tr
                                  td(style='font-size: 13px; font-family: Verdana, Geneva, sans-serif; text-align: center; color: #ffffff; font-weight: normal; padding-left: 18px; padding-right: 18px; background-color: #ff8c00; border-radius: 4px;' align='center' valign='middle' bgcolor='#ff8c00' width='auto' height='26')
                                    a(style='text-decoration: none; color: #ffffff; font-weight: normal;' href=`${h.verifyUrl(user.verificationToken)}`)
                                      | Verify Account
                                      br
          //if (gte mso 9)|(lte ie 8)
  // footerBlock
  table#ko_footerBlock_2(style='background-color: #000000;' border='0' width='100%' cellspacing='0' cellpadding='0' bgcolor='#000000')
    tbody
      tr
        td(style='background-color: #000000;' align='center' valign='top' bgcolor='#000000')
          //if (gte mso 9)|(lte ie 8)
            table(align='center' border='0' cellspacing='0' cellpadding='0' width='570')
              tr
                td(align='center' valign='top')
          .oldwebkit(style='max-width: 570px;') &nbsp;
          .oldwebkit(style='max-width: 570px;') &nbsp;
          .oldwebkit(style='max-width: 570px;') &nbsp;
          .oldwebkit(style='max-width: 570px;') &nbsp;
          .oldwebkit(style='max-width: 570px;') &nbsp;
          //if (gte mso 9)|(lte ie 8)
  // /footerBlock
